<%= form_for [:admin, @article] do |form| %>
  <div class="p-6">
    <div>
      <div class="space-y-1">
        <%= form.label :title, class: "text-md font-medium text-gray-700" %>
        <%= form.text_field :title, class: "flex h-10 w-full rounded-md text-md focus:ring-[#e3dccf] focus:border-[#b1aba1] border-gray-300" %><br>
      </div>
      <div class="space-y-1">
        <%= form.label :content, class: "text-md font-medium text-gray-700" %>
        <%= form.rich_text_area :content, class: "bg-white" %><br>
      </div>
    </div>
  </div>
  <div class="flex items-center p-6">

    <%= button_to "Back", admin_articles_path, class: "rounded-md text-md font-medium underline-offset-4 hover:underline h-10 px-4 -mt-8" %>

    <button
      class="rounded-md text-md font-medium h-10 px-4 -mt-8 ml-2 bg-[#65625c] text-white">
      Submit
    </button>
  </div>
<% end %>
