<!DOCTYPE html>
<html>
  <head>
    <title>RailsOfThoughts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <main class="bg-[#FDF5E6] min-h-screen flex flex-col">
    <header class="flex h-20 w-full px-4 md:px-6">
      <%= render "layouts/navbar" %>
    </header>

    <%= yield %>

    <%= render "layouts/footer", class: "mt-auto" %>
  </main>
</body>

</html>
